@import "tailwindcss";

@theme {
  --color-BACKGROUND: #0a0a0a;
  --color-PRIMARY: #171717;
  --color-SECONDARY: #212121;
  --color-TERTIARY: #e5e5e5;
  --color-QUATERNARY: #434343;
}

body {
  box-sizing: border-box;
}

#main_scroll::-webkit-scrollbar {
  background-color: #171717;
  width: 7px;
}

#main_scroll::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 10px;
}
