@import "tailwindcss";

@theme {
  --color-BACKGROUND: #0A0A0A;
  --color-PRIMARY: #171717;
  --color-SECONDARY: #212121;
  --color-TERTIARY: #E5E5E5;
  --color-QUATERNARY: #434343;
}

body {
  box-sizing: border-box;
}
